body {
    margin: 0;
    font-family: BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
.heading h1{
  color: white;
}
.heading h3{
  color: white;
}
a{
  color: white;
}
#particles-js {
    background: black;
}
